/* Style the html */
html {
  border-radius: 5px;
  background-color: blanchedalmond;
  padding: 20px;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: seagreen;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  float: center;
}


@media screen and (min-width: 04200px) and (max-width:720px){
  .taking, h1, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
